body{
    background-color: #f5fbfc;
}
.disappear {
    display: none;
}
.appear {
    display: block;
}
#main-ext-cont{
    width:80%;
    margin:0 10% 0 10%;
    padding: 50px 0 0 0;
}
h1{
    text-align: center;
    font-size: 1.5em;
}
h2{
    margin-left: 5%;
}
#product-container{
    width: 100%;
    padding-top: 1em;
    display: inline-block;
    margin-bottom: 5px;
}
.filter-containers{
    width:20%;
    margin:0 0 0 5%;
    float:left;
    text-align: center;
}
.search-container{
    width:20%;
    margin:0 0 0 5%;
    float:left;
    text-align: center;
    
}
#button-cont{
    width:20%;
    float:left;
    text-align: center;
}
label{
    font-weight: 700;
    font-size: 0.8em;
    color: #161670;
}
select{
    width: 100%;
    height: 3.5em;
    text-align: center;
    color: #504f4f;
    background-color: #fff;
    font-family: 'Fredoka', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    border: 1px solid #6564864f;
    border-radius: 5px;
}
select:focus {
    outline: none;
    transition: 300ms;
 }
 input[type=search] {
    width: 100%;
    height: 3.5em;
    text-align: center;
    color: #504f4f;
    font-size: 0.9em;
    font-weight: 700;
    border: 1px solid #6564864f;
    border-radius: 5px;
 }
 input[type=search]:focus {
    outline: none;
    transition: 300ms;
 }
#product-search {
    width: 100%;
    height: 3.5em;
    margin-top:20px;
    border: 1px solid rgb(29, 112, 4);
    background-color: rgb(29, 112, 4);
    color: #ffff;
    font-size: 0.9em;
    border-radius: 5px;
}
#search-filter{
    font-size: 1.1em;
}
#figures{
    background-color: #504f4f;
    width: 98%;
    display: block;
    padding: 0.1em 1% 0.1em 1%;
    color: #f8f7f7;
    margin-bottom: 1em;
}
#show {
    font-size: 0.8em;
    font-weight: 500;
}
#output-ext-cont{
    width: 100%;
    margin-left: 0%;
    margin-bottom: 0;
}
#all-products{
    width: 60%;
    margin: 0 5% 0 0;
    float: left;
}
.output-containers{
    width: 94%;
    margin: 0 0 2em 3%;
    background-color: #fff;
    border: 1px solid #6564864f;
    display: inline-block;
    border-radius: 5px;
}
#image-cont{
    width: 38%;
    height: 11em;
    padding: 0.5em 0 0.5em 1%;
    float:left;
    margin: 0 0 0 0;
}
#image-cont img{
    width:100%;
    height:100%;
    object-fit: contain;
}
#text-cont{
    width: 58%;
    padding: 0 1% 0.5em 1%;
    float: right;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #161616;

}
.product-results{
    font-size: 1.1em;
    color:#094764;
    font-weight: 600;
}
.price-results{
    color:#28880b;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1em;
    margin-top: -0.5em;
}
.ven-location {
    font-size:1.1em;
    color:#094764;
    font-weight: 600;
    line-height: 1em;
    margin-top: -0.7em;
} 
.deliv{
    background-color: #93eb938f;
    padding: 1px 1.5% 1px 1.5%;
    border-radius: 3px;
    margin: 0 5px 1em 5px;
    font-size: 0.8em;
}
.view-btn-o{
    margin: 1.5em 0 1em 55%;
    width: 30%;
    padding: 0.5em 5% 0.5em 5%;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    background-color: #152b8f;
}
#nav-button-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2em 0 2em 0;

}
.nav-btn{
    border: 1px solid #6564864f;
    padding: 0.3em 2.5% 0.3em 2.5%;
    margin: 0.5em 0 0.5em 10px;
    border: 1px solid #6564864f;
    background-color: #fff;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;


}
.nav-btn:hover{
    background-color: #2f5179;
    color: #fff;

}
.nav-btn-active{
    background-color: #2f5179;
    color: #fff;
    padding: 0.3em 2.5% 0.3em 2.5%;
    margin: 0.5em 0 0.5em 5px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;

}
.nav-btn-inactive{
    background-color:#e3e9e8;
    color: #b4b1ae;
    padding: 0.3em 2.5% 0.3em 2.5%;
    margin: 0.5em 0 0.5em 5px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;

}
#side-cont{
    width: 33%;
    text-align: center;
    padding: 0 1% 0 1%;
    float: right;

}
.side-space-cont{
    width: 76%;
    margin: 1em 10% 2em 10%;
    padding: 0.5em 2% 0.5em 2%;
    border: 1px solid #6564864f;
    padding: 1em 2% 1em 2%;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
#category-cont{
    background-color: #fbfdfd;

}
.categories{
    font-weight: 600;
    text-decoration: underline;
    margin: 0 0 0 5px;
    color: #152b8f;
}

#vendor-Ad-cont{
    width: 80%;
    padding: 0 0 0 0;
    box-shadow: none;
    border: none;
}
.slider {
    width: 100%;
    overflow: hidden;
  }
  .slides {
    width: 200%;
    display: flex;
    list-style: none;
    transition: all 2s ease;
}
.Ad-img-container{
    width: 100%;
    position: relative;
    float: left;


}
.Ad-img-container img{
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 5px;

   
}

.Ad-img-container p{
    position: absolute;
    color: #fff;
    font-weight: 800;
    font-size: 1em;
    text-align: left;
    top: 2%;
    left: 55%;
    right: 1%;
}
.Ad-img-container a{
    background-color: #fff;
    padding: 0.5em 10% 0.5em 10%;
    border-radius: 5px;
}

#service-link-cont{
    margin:1em 10% 1em 10%;
    width: 76%;
    background-color: #9bc3cff8;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(119,118, 118, 0.2), 
    0 6px 20px 0 rgba(116, 115, 115, 0.19);
    padding: 1em 1% 1em 1%;
}
#img-right-cont{
    width:100%;
    float:left;
}
#img-right-cont img{
    width: 100%;
}
#text-left-cont{
    text-align: left;
    width: 98%;
    padding: 0 1% 0 1%; 
    float:left;  
}
#redir{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    
}
#redirect-link{
    font-weight: 700;
    color: #086161;
    font-size:1.2em;
}
.pagination{
    margin: auto;
    width: 50%;
    text-align: center;
    
}
.pagination a {
    color: black;
    float: left;
    font-size: 2vw;
    font-weight: 500;
    padding: 2vw 6vw 2vw 6vw;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
@media screen and (max-width: 900px) {
    #main-ext-cont{
        width:95%;
        margin-left: 2.5%;
        padding: 4em 0 0 0;
    }
    #all-products{
        width: 95%;
        margin: 0 2.5% 0 2.5%;
        height: auto;
        float: left;
        overflow-y: hidden;
    }
    .output-containers{
        width:90%;
        margin:0 0 2em 5%;
        padding: 0 0 0 0;
       
       
    }
    #image-cont{
        width: 37%;
        height: 12.5em;
       
    }
    #text-cont{
        width: 58%;
        padding: 1em 1% 0.5em 1%;
    }
    
    .product-results, .ven-location{
        font-size: 1em;
    }
    
    .view-btn-o{
        margin: 1.5em 0 1em 20%;
        width: 50%;
    }
    #side-cont{
        width: 96%;
        padding: 0 1% 0 1%;
           
    }

    
   
}
@media screen and (max-width: 550px){

    #main-ext-cont{
        width:95%;
        margin-left: 2.5%;
        padding: 4em 0 0 0;
    }
    h1{
        font-size: 1.2em;
    }

    .filter-containers{
        width:45%;
        margin: 0 2.5% 0 2.5%;
        
    }
    .search-container{
        width:45%;
        margin: 0 2.5% 0 2.5%;
        
    }
    #button-cont{
        width:45%;
        margin: 0 2.5% 0 2.5%;
    }
    select{
        height: 3em
    }
    input[type=search] {
        height: 3em;
     }
     #product-search {
        margin-top:1.35em;
        height: 3em
    }
    #search-filter{
        font-size: 0.95em;
    }
    #all-products{
        width: 90%;
        margin: 0 5% 0 5%;
    }
    .output-containers{
        width:99%;
        margin: 0 0 2em 0;
        padding: 0 0 0 0;
        border-radius: 10px;
    }
  
    #image-cont{
        width: 100%;
        height: 14em;
        padding: 0 0 0 0;
      
    }
    #image-cont img{
        object-fit: cover;
        border-radius: 10px;

    }

    #text-cont{
        width: 95%;
        padding: 1em 2.5% 0 2.5%;
    }
    #nav-button-cont{
        display: block;
        justify-content:left;
        width: 100%;
        margin: 2em 0 2em 0;
    
    }
    .nav-btn{
        padding: 0.3em 3% 0.3em 3%;
        margin: 0.5em 0 0.5em 5px;
        font-size: 0.9em;
        font-weight: 600;
        border-radius: 5px;
        line-height: 2.5em;
    }
    .nav-btn-active{
        padding: 0.3em 3% 0.3em 3%;
        margin: 0.5em 0 0.5em 5px;
        font-size: 0.9em;
    }
    .nav-btn-inactive{
        padding: 0.3em 3% 0.3em 3%;
        margin: 0.5em 0 0.5em 5px;
        font-size: 0.9em;

    }
    #side-cont{
        width: 98%;
        padding: 0 1% 0 1%;
    }
    .side-space-cont{
        width: 86%;
        margin: 0.5em 5% 2em 5%;
    
    }
    
    #vendor-Ad-cont{
        width: 90%;
    }

    #service-link-cont{
        width: 88%;
        margin:1em 5% 1em 5%;
        padding: 0.3em 1% 1em 1%;
    }
    #img-right-cont{
        width:100%;
    }
   
    #text-left-cont{
        width: 100%;
        padding: 2%;  
    }
    
    .pagination a {
        font-size: 4vw;
        padding: 2vw 3vw 2vw 3vw;
      }

   
    
    
}
