#extern-cont{
    width:40%;
    margin:0 0 0 30%;
    padding:10em 0 0 0;
    display: grid;
    place-items: center;
    
}

#inner-cont{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1.5em 5% 1.5em 5%;
    
}

#image-cont{
    width:35%;

}
#image-cont img{
    width: 100%;
    height:auto;
}

#text-cont{
    margin: 3em 1% 5em 1%;
    width: 70%;
}

#headline{
    color: #199c0f;
}

#info-txt{
    font-weight: 600;
    font-size: 0.9em;
}

#continue-btn{
    width:60%;
    margin: 1em 0 1em 0;
    padding: 1.5em 2% 1.5em 2%;
    background-color: #097517;
    border: none;
    color:#fff;
    border-radius: 0.3em;
   
    
}

@media screen and (max-width: 900px) {
    #extern-cont{
        width:60%;
        margin:0 0 0 20%;
        
        
    }
    
}


@media screen and (max-width: 600px) {
    #extern-cont{
        width:90%;
        padding:7em 0 0 0;
        margin:0 0 0 5%;
           
    }
    
    #headline{
        font-size: 1.3em;
    }

    #info-txt{
        font-size: 0.8em;
    }

    #continue-btn a {
        font-size: 0.85em;
    }
    
}

