#review-external-cont{
    padding: 100px 0 0 0;
    width: 100%;
    display: inline-block;

}
#review-internal-cont {
    width: 70%;
    margin: 2em 0 2em 12.5%;
    display: inline-flex;
}
#review-right-cont{
    width:55%;
    padding: 1em 2.5% 0 2.5%;
    background-color: #fff;
}
.review-inbox{
    width: 75%;
    display: inline-block;
    margin: 0 0 2em 12.5%;
    border-radius: 10px;
    background-color: #aef3b7;
}
.reviewer-img-cont{
    width: 11%;
    float: left;
    padding: 0.3em 0 0.2em 1%;
}
.reviewer-img-cont img{
    border-radius: 50%;
    width: 95%;
    height: 3.2vw;
}
.reviewer-name-cont{
    width:87%;
    padding: 0.1em 0 0.1em 2%;

}
.reviewer-name-cont p{
    font-size: 1.3vw;
    padding-left: 10px;
    font-weight: 700;
    color: #021130f6;
}
.review-message-cont{
    width: 95%;
    padding: 0 2.5% 0 2.5%;

}
.rev-message {
    font-size: 0.9vw;
    font-weight: 600;
    color: #021130f6;
}
.star-cont{
    width:10%;
    float: left;
}
.star-cont p {
    font-size: 1.2em;
}
#positive {
    color: #09c718;
}
#average {
    color: #dbdf16;
}
#poor {
    color: #da0c0cf1;
}
.time-stamp-cont{
    width: 89%;
    float: left;
    padding: 0.1em 0 0.1em 0;

}
.time-stamp{
    font-size: 0.8em;
    text-align: right;
    color: #3a3939d3;
    font-weight: 600;
}
#review-left-cont{
    width:35%;
    padding: 0 2.5% 0 2.5%;
    margin: 0 0 3em 0 ;
    
}
#inner-rev-left-cont{
    padding: 1em 2.5% 0 2.5%;
    background: linear-gradient(217deg,rgba(20, 105, 155, 0.956), rgba(139, 137, 137, 0.109)70.71%),
    linear-gradient(127deg,rgba(90, 169, 221, 0.915),rgba(102, 102, 104, 0.068)70.71%),
    linear-gradient(336deg, rgba(110, 171, 245, 0.604), rgba(97, 97, 100, 0.456)70.71%);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(117, 155, 238, 0.2), 
    0 6px 20px 0 rgba(162, 181, 221, 0.19);
    
}
#sub-header{
    font-size: 1.2em;
    text-align: center;
    color: #02073a;
}
#rev-header{
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}
#leave-review-cont{
    width: 95%;
    padding: 2em 0 2em 2.5%;
}
label{
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    margin-bottom:1em;
}
select{
    margin:1em 0 1em 9%;
    width: 80%;
    border:none;
    border-top:2px solid #1616a8;
    height: 2.5em;
    font-size: 0.9em;
    font-weight: 600;
    color: #252525;
    background-color: #fff;

}
textarea{
    width: 80%;
    height: 8em;
    margin:1em 0 0 9%;
    border: none;
    border-top:2px solid #1616a8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    size-adjust: none;
}

select:focus {
    width:83%;
    height: 3em;
    outline: none;
    border-top:3px solid #1616a8;
    transition: 0.2s;
}
textarea:focus {
    width:85%;
    height: 9em;
    outline: none;
    transition:0.4s;
}

.submit-btn{
    width: 50%;
    margin: 2em 0 0 25%;
    background-color: #17960cf1;
    color: #ffffff;
    border: none;
    border-radius: 0.3em;
    padding: 1em 0 1em 0;
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    #review-internal-cont {
        width: 70%;
        margin: 0 0 2em 15%;
        display: inline-block;
    }
    #review-right-cont{
        width:100%;
        padding: 1vw 0 0 0%;
        margin: 0 0 2vw 0;
    }
    .review-inbox{
        width: 70%;
        margin: 0 0 2.5vw 15%;
    }
    .reviewer-img-cont{
        width: 14%;
    }
    .reviewer-img-cont img{
        height: 7.5vw;
    }
    .reviewer-name-cont p{
        font-size: 2.4vw;
    }
    .rev-message {
        font-size: 1.6vw;
    }
    
   
    #review-left-cont{
        width:96%;
        padding: 1.5em 2% 0 2%;
    }
    #leave-review-cont{
        width: 70%;
        padding: 2em 0 2em 15%;
    }
  
  
}
@media screen and (max-width: 590px) {
    #review-external-cont{
        padding: 50px 0 0 0;
    
    }
    #review-internal-cont {
        width: 95%;
        margin: 0 0 0 2.5%;
    }
    #review-right-cont{
        width:100%;
        padding: 1em 0 0 0;
        margin: 0 0 2em 0;
    }
    .review-inbox{
        width: 90%;
        margin: 0 0 2em 5%;
    }
    .reviewer-img-cont{
        width: 14%;
    }
    .reviewer-img-cont img{
        height: 2.5em;
    }
    .reviewer-name-cont{
        width:81%;
        padding: 0 0 0 5%;
    }
    .reviewer-name-cont p{
        font-size: 5vw;
    }
    .rev-message {
        font-size: 3.5vw;
       
    }
    .time-stamp-cont{
        float: left;
        padding: 0.4vw 0 0.4vw 0;
    
    }

   
    #leave-review-cont{
        width: 90%;
        padding: 0.5em 0 2em 5%;
    }
   

}
