@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
.disappear{
    display: none;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    /* filter:grayscale(15%) */
}

h1{
    font-size: 1.7em;
}

.top-nav {
    overflow:hidden;
    background-color: #070707;
    position:sticky;
    top: 0;
    margin: 0 0 -3.5em 0;
    z-index: 1;
    width: 100%;
}
.top-nav a img {
    height: 1.8vw;
    width: 9vw;
    margin: 0 39vw 0 0;
}

.top-nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding:1vw 1.2vw;
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 600;
    height: 25px;       
}

.top-nav a:hover:not(:first-child) {
    background-color: #d1caca;
    color:#141414;
    font-size:1vw;
    transition: 0.5s;
}
.top-nav a.active {
    color: #104bee;
    text-decoration: underline;
    text-underline-offset: 5px;
    
}
.upld{
    text-decoration: none;
    font-weight: 600;
    border: none;
    color:#ffff;
    font-family: 'Fredoka', sans-serif;
    font-size: 0.95em;
    padding: 0.8em 1.5em 0.8em 1.5em;
    margin: -0.5em 0 1em 0;
    border-radius: 5px;
    background-color:#087e18;

}
.upld:hover{
    background-color: #66086e;

}

.top-nav .icon {
    display: none;
    padding:13px 3px 15px;
}

.icon-cont {
    display: inline-block;
    cursor: pointer;
    margin-top:-7px;
}

.dropdown{
    float: left;
    overflow: hidden;
    color: #ffff;
}
.dropdown {
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    outline: none;
    color: #ffff;
    font-family: inherit;
    margin: 0;
}
.notif-btn{
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 1.2em;
    margin:0 1em 0 1em;
    padding:1em 0 0.3em 0;
    outline: none;
    color: #ffff;
    background-color: #070707;

}
.notif-badge{
    position: absolute;
    margin: -10px 0 0 -6px;
    font-size: 0.6em;
    padding: 1.5px 4.5px;
    border-radius: 50%;
    background: red;
    color: white;

}
.dropbtn{
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    padding:1.2vw 1.2vw 1.4vw;
    outline: none;
    color: #ffff;
    background-color: #070707;
    margin: 0;
}

.dropmenu-content{
    margin-top: 1em;
    display: none;
    width: 20em;
    position: fixed;
    background-color: #070707;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: rotateMenu 1.5s ease-in-out forwards;
    transform-origin: top center;
    
}
.dropmenu-content p{
    float: none;
    color: #fff;
    padding:1vw 1.2vw;
    margin-bottom: 25px;
    text-decoration: none;
    text-align: left;
}
.dropmenu-content p:hover {
    background-color:#d1caca;
}
.ph-disp{
    display: none;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg);
    }

    100%{
        transform: rotateX(0deg);
    }
}

.show{
    display: block;
}

.bar1, .bar2, .bar3 {
    width: 4vw;
    height: 0.45vw;
    border-radius: 1px;
    background-color: #ffffff;
    margin: 0.4rem 0;
    transition: 0.2s;
}

.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.mySlides {
    display: none;
    
}
.mySlides img {
    vertical-align: middle;
    height: 100vh;
}
.slideshow-container {
max-width: 2000px;
position: relative;
}

.slide-text {  
    position: absolute;
    top:15vw;
    width:50%;
    text-align:center;
}
.fade{
    animation-name: fade;
    animation-duration:4s;
    transition: 500ms;
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}

}
#headtext{
    color:#a8f1f3;
    font-size: 7.5rem;
    font-weight: 600;
    line-height: 0.2em;
}
#sub-headtext{
    font-size: 3rem;
    color:#fff;
    font-weight: 500;
}

#about-cont{
    width:80%;
    background-color:#a7a5a5 ;
    display: inline-flex;
    margin: 6em 10% 3em 10%;

}
#about-sub-cont-a{
    width:50%;
    float: left;
}

#about-text-contain{
    width:60%;
    color: #fff;
    margin: 4em 20% 2em 20%;
    float: right;
}
.text-header{
    font-size: 1.5em;
    color: #042d69;
}
.text-header-lrg{
    font-size: 2.7em;
    font-weight: 900;
    margin-top: -0.5em;
}
.text-descript{
    font-size: 1.3rem;
    font-weight: 400;
}
.text-header-sml{
    font-size: 1.3em;
    color: #0759b8;
    font-weight: 900;
}

.redmre{
    text-decoration: none;
    font-weight: 600;
    color:#ffff;
    line-height: 1em;
    font-size: 1.1em;
    padding: 0.8em 1.5em 0.8em 1.5em;
    border-radius: 10px;
    background-color:#087e18;
    margin: 20px 0 0 0;

}
.redmre:hover{
    background-color: #66086e;
}
#about-sub-cont-b{
    width: 50%;
    display: grid;
    padding: 0 0 0 0;

}
.about-img-cont{
    width:100%;
    display:flex;
    margin: 0 0 0 0;
}
.about-img-cont img{
    width:50%;
    object-fit: cover;
    margin: 0 0 0 0;
}

#service-cont {
    background: linear-gradient(217deg,rgba(20, 105, 155, 0.956), rgba(139, 137, 137, 0.109)70.71%),
    linear-gradient(127deg,rgba(90, 169, 221, 0.915),rgba(102, 102, 104, 0.068)70.71%),
    linear-gradient(336deg, rgba(110, 171, 245, 0.604), rgba(97, 97, 100, 0.456)70.71%);
    margin: 3em 0 4em 0;
    padding: 0 0 3em 0;
    display:inline-block;
    text-align: center;
}
#service-header{
    color: #fff;
}

.service-sub-cont {
    float: left;
    width:22%;
    height:320px;
    margin: 1em 4.5% 1em 4.5%;
    color: #fff;
    padding: 2em 1% 2em 1%;
    text-align: center;
    border: #fcf9f9 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 
                0 6px 20px 0 rgba(129, 128, 128, 0.19);
}
.service-sub-cont:hover{
    background-color: #fff;
    color: #094c8b;
    border-color: #fff;
}

#large1, #large2, #large3{
    font-size: 4em;
    margin-top: 20px;
}

#ad-section-cont{
    width: 100%;
    display: inline-block;
    margin:0 0 3em 0;
}
.ad-cont{
    width: 25%;
    display: block;
    float: left;
    margin: 0 2.5% 2em 2.5%;

}
#ad-cont-1 {
    width:30%;
    margin: 0 2.5% 2em 2.5%;

}

.ad-img-cont{
    width:100%;
    text-align: center;

}
.ad-img-cont img{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.ad-text-cont{
    width:95%;
    text-align: center;
    margin: -0.3em 0 0 0;
    background-color: #e5e8e9c7;
    padding: 1em 2.5% 2em 2.5%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}



#stat-cont {
    width: 100%;
    padding:1em 0 1em 0;
    background-color: #4b4949;
    color: #ffff;
    display: inline-block;
    margin: 0 0 4em 0;
}
#stat-sub-cont {
    width:25%;
    float: left;
    text-align: center;
}
#stat-sub-cont i {
    font-size: 3em;
}

.values {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0.5em 0 0.2em 0;

}
.groups {
    font-size: 20px;
}

#partner-cont{
    width:80%;
    padding: 2em 10% 2em 10%;
    margin: 1em 0 2em 0;
    
}
#partner-sub-cont{
    width:96%;
    position: relative;
    background-color: #79c6e49f;
    display: flex;
    padding:2em 2% 2em 2% ;

}
#part-text-cont{
    width:50%;
    padding:3em 5% 0 5%;
    

}
#part-text-inner-cont{
    width:75%;
    padding:1.5em 7.5% 3.5em 7.5%;
    background-color: #ffffffe0;
    position: relative;
    color: #363535;
    font-weight: 600;
    z-index: 1;
  
}
#part-image-cont{
    width: 55%;
    margin: 1em -20%;
    z-index: 0;
}
#part-image-cont img{
    width:100%;
    height: auto;
    border-radius: 10px;
}

#footer-cont {
    width:100%;
    bottom: 0;
    background: linear-gradient(217deg,rgba(3, 28, 75, 0.956), rgba(15, 33, 138, 0.109)70.71%),
    linear-gradient(127deg,rgba(3, 45, 73, 0.915),rgba(8, 8, 114, 0.411)70.71%),
    linear-gradient(336deg, rgba(33, 89, 158, 0.604), rgba(138, 137, 243, 0.456)70.71%);
    display: inline-block;
    color: #ffff;
    

}
.footer-sub-cont-a{
    float: left;
    width:40%;
    height:240px;
    padding: 5px;
    font-size: 1em;
}
.footer-sub-cont-b{
    float: left;
    width:40%;
    height:220px;
    padding: 5px;
}
#foot-para{
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1em;
}
.foot-links{
    text-decoration: none;
    color: #ffff;
    font-size: 0.9em;
    font-weight: 500;
}
#small1, #small2, #small3{
    font-size: 1.2em;
}
#footer-base-cont{
    width:100%;
    display: inline-block;

}
#icon-cont{
    width:30%;
    margin-left:35%;
}
.icon-sub-cont{
    width:15%;
    margin:0 0 0 10%;
    float:left;
}
.icon-sub-cont img{
    width:100%;
}
.image-select-cont {
    width:25%;
    margin: 0.5em 0 0.25em 37.5%;
}
.image-select-cont img{
    width:100%;
    height:auto;
}
.confirm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: fixed;
    top:0;
    left:0; */
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
    opacity:0;
    animation: confirm--open;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .confirm--close {
    animation: confirm--close;
   }

   .confirm--window {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm--window--open;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
    animation-delay: 0.2s;
   }

   .confirm--titlebar,
   .confirm--content,
   .confirm--buttons{
    padding: 0.5em;
   }

   .confirm--titlebar{
    background: #05566e;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .confirm--title{
    font-weight: bold;
    font-size: 1.2em;
   }
   .confirm--close{
    background: none;
    outline: none;
    color: #fff;
    border: none;
    transform: scale(2.5);
    transition: color 0.15s;
   }

   .confirm--close:hover{
    color: #e70707;
    cursor: pointer
   }

   .confirm--content{
    line-height: 1.8em;
    font-size: 0.8em;
    font-weight: 600;
   }

   .confirm--buttons {
    display: flex;
    justify-content: flex-end;
   }

   .confirm--button {
    padding: 0.7em 1.5em;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1em;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
    border: none;
   }

   .confirm--button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
   }

   .delete--button-fill{
    background: #c20f09;
    color: #fff;
   }

   .cancel--button-fill {
    background: #0b880b;
   }


   @keyframes confirm--open{
    from {opacity:0;}
    to {opacity:1;}
   }

   @keyframes confirm--close{
    from {opacity:1}
    to {opacity:0}
   }

   @keyframes confirm--window--open{
    to {
        opacity:1;
        transform: scale(1);
    }
   }

   #preloader{
    background: #fff url(../images/Loading_icon.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    place-items:center;
    z-index: 100;
   }

   #loader{
     display: none;
   }
   
   #loader2{
    display: none;
   }

   .support-cont{
    width: 100%;
    padding: 2em 0 1em 0;
    float:left;
   }
   .support-message{
    font-size:1.2em;
    color:#01180ff6;
    text-align:center;
    font-weight: 600; 
   }

   .page-link{
    background-color: #04811f;
    padding: 0.7em 5% 0.7em 5%;
    border-radius: 0.3em;
    color:#fff;
    text-decoration: none;
    font-weight:500;
    font-size: 0.8em;
   }
   .page-link:hover{
    background-color: #66086e;
   }
   #logoff-loader{
    background: #fff url(../images/Loading_icon.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display:none;
    place-items:center;
   }
   .logoff-text{
    text-align: center;
    font-size: 2.5em;
    margin:0 0 3.5em 0;

   }
   #unverified{
    display: none;
   }
   #verified{
    color: #0ba30b;
   }

@media screen and (max-width: 900px) {
    .top-nav a img {
        width: 16vw;
        height: 3.5vw;
        margin: 0.5em 63vw 0 0;
    }
     
    .top-nav a:not(:first-child){
        display: none;
    }
   
    .top-nav a.icon {
        float: right;
        display: block;
        
    }
    .top-nav.responsive{
        position: sticky;
        z-index: 1;
        animation: rotateMenu 2s ease-in-out forwards;
        transform-origin: top center;
        margin: 0 0 -26.3em 0;
    }
    .top-nav.top-nav.responsive {
        display: block;
        padding:0vw 0vw 2.4vw;
    }
    .top-nav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float:none;
        display:block;
        margin-bottom: 0px;
        text-align: left;
        font-size: 0.8em;
             
    }
    .top-nav a:hover:not(:first-child) {
        font-size:0.9em;
       
    }
    
    .dropdown{
        margin-left:0;
        display: contents;
        overflow: hidden;
        color: #ffff;
    }
   .top-nav.responsive .notif-btn{
    display: none;

   }
    .notif-btn{
        padding:0.8em 0.3em 0 0.3em;
        margin:0 1.3em 0 1.3em;
    
    }
    .dropbtn{
        display: none;
       
    }
   
    .dropmenu-content{
        display: contents;
        margin: 2vw 0 0 -10vw;
     
    }
    .ph-disp{
        display: block;
    }
    .slideshow-container {
        padding:3em 0 0 0;
    }
    

    .mySlides img {
        height: 55vh;
    }
    #headtext{
        font-size: 4.5rem;
    }
    #sub-headtext{
        font-size: 2rem;
    }
    .text-header-lrg{
        font-size: 2em;

    }
    .startlink {
        font-size: 1rem;
    }

    #about-cont{
        width:100%;
        margin: 1em 0 3em 0;
    }

    #about-sub-cont-a{
        width:45%;
        float: left;
    }

    #about-text-contain{
        width:90%;
        margin:3em 0 0 5%;
    }

    .text-header{
        font-size: 1.5em;
       
    }

    .text-descript{
        font-size: 1em;
    
    }
    #about-cont{
        width:90%;
        background-color:#a7a5a5 ;
        display: inline-flex;
        margin: 6em 5% 3em 5%;
    
    }
    #about-sub-cont-a{
        width:50%;
        float: left;
    }
    #about-text-contain{
        width:80%;
        margin: 3em 10% 2em 10%;
    }

    #about-sub-cont-b{
        width: 50%;
        float: left;
        padding: 0 0 0 0;
    
    }
    .redmre{
        font-size: 0.9em;
    
    }
    .service-sub-cont {
        height: 300px;        
    }
    #large1, #large2, #large3{
        font-size: 3.5em;
        margin-top: 10px;
    }
  
    .ad-cont{
        width: 40%;
        display: block;
        float: left;
        margin: 0 5% 2em 5%;
    
    }
    #ad-cont-1 {
        width:100%;
        margin: 0 2.5% 2em 2.5%;
    
    }
    
    #stat-sub-cont i {
        font-size: 2.5em;
    }

    #partner-cont{
        width:80%;
        padding: 2em 10% 2em 10%;
        
    }
    #partner-sub-cont{
        display: grid;
        padding:2em 2% 2em 2% ;
    
    }
    #part-text-cont{
        width:90%;
        padding:3em 5% 0 5%;
           
    }
    #part-text-inner-cont{
        width:90%;
        padding:1.5em 5% 3.5em 5%;
      
    }
    
    #part-image-cont{
        width: 90%;
        margin: 1em 5%;
        z-index: 0;
    
       
    }
    #preloader{
        background-size: 30%;
       }
    #logoff-loader{
        background-size: 30%;
    }
       .logoff-text{
        text-align: center;
        font-size: 1.8em;
    
    }
    
}
@media screen and (max-width: 590px) {
    .top-nav a img {  
        width: 30vw;
        height: 6vw;
        margin: 0.8rem 36vw 0 0;
    }

    h1{
        font-size: 1.4em;
    }
    .top-nav.responsive{
        margin: 0 0 -36.5em 0;
    }
    .top-nav.responsive a {
        font-size: 4.1vw;
        margin-bottom: 25px;
        text-align: left;     
    }
    .notif-btn{
        padding:0.9em 1.5% 0.9em 1.5%;
        margin:0 0.4em 0 1.1em;
    }

    .dropbtn{
        padding:4vw 2vw 4vw;
       
    } .top-nav.responsive  .notif-btn{
        margin-top: -5px;
    }
  
    .dropmenu-content{
        margin: 4vw 0 0 0;
       
    }
    .bar1, .bar2, .bar3 {
        width: 8vw;
        height: 0.8vw;
        margin: 0.35rem 0;
    }
    .change .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
    }

    .slideshow-container {
        padding:52px 0 0 0;
    }

    .mySlides img {
        height: 32vh;
    }
    
    #headtext{
        font-size: 2.7em;
    }
    #sub-headtext{
        font-size: 1.2em;
        
    }
    .startlink {
        font-size: 0.8em;
    }.redmre{
        font-size: 0.9em;
        padding: 0.8em 5% 0.8em 5%;
        border-radius: 10px;
    
    }
    #about-cont{
        width:90%;
        background-color: #fff;
        display: inline-block;
        margin: 0 5% 3em 5%;
    }

    #about-sub-cont-a{
        width:100%;
        float: left;
    }
    #about-text-contain{
        float: none;
        width: 90%;
        text-align: center;
        color: #070707;
        font-weight: 800;
        margin: 0 5% 2em 5%;
    }

    #about-sub-cont-b{
        width:100%;
        float: left;
        padding: 0 0 0 0;
    
    }
    .text-header{
        font-size: 1.5em;
       
    }

    .text-descript{
        font-size: 1em;
    
    }
    .text-header-lrg{
        font-size: 1.3em;
        text-align: center;

    }
    .text-header-sml{
        font-size: 1.2em;
        text-align: center;
    }
    #service-cont {
        margin: 3em 0 1em 0;
        padding: 0 0 1em 0;
    }

    .service-sub-cont {
        float: left;
        width:65%;
        height: 260px;
        margin-left: 15%;
        
    }
    #large1, #large2, #large3{
        font-size: 4em;
        margin-top: 10px;
    }
    
    #ad-section-cont{
        display: inline-block;
    }
    .ad-cont{
        width: 80%;
        display: block;
        float: left;
        margin: 0 10% 2em 10%;
    
    }
    #ad-cont-1 {
        width:95%;
        margin: 0 2.5% 0.5em 2.5%;
    
    }
    #stat-cont {
        margin: 0 0 1em 0;
    }
    
    
    #stat-sub-cont {
        width:99.5%;
        float: left;
    }
    #stat-sub-cont i {
        font-size: 2em;
    }
    
    .values {
        font-size: 1.3em;
        font-weight: 600;
        margin: 0 0 0.1em 0;
    
    }
    .groups {
        font-size: 0.8em;
    }
    #partner-cont{
        width:96%;
        padding: 0 2% 2em 2%;
        margin: 0 0 1em 0;
        
    }
    #partner-sub-cont{
        width:96%;
        background-color: #fff;
        padding:0 2% 0 2% ;
    }
    #part-text-cont{
        padding:0 5% 0 5%;
    
    }
    #part-text-inner-cont{
        padding:0 7.5% 1.5em 7.5%;
      
    }
    #part-image-cont{
        width: 90%;
        margin: 0 0 0 5%;
       
    }
   
    
    .footer-sub-cont-a{
        float:none;
        width:94%;
        height:155px;
        padding: 5px;
        text-align:center;
        margin-bottom: 7px;
    }
    .footer-sub-cont-b{
        float:none;
        width:96%;
        height:200px;
        padding: 5px 0 0 0;
        text-align:center;
        margin-bottom: 15px;
    }
    #foot-para{
        font-size: 0.9em;
    }
    .foot-links{
        font-size: 0.85em
    }
    
    #icon-cont{
        width:60%;
        margin-left:19%;
    }
    .icon-sub-cont{
        width:19%;
        margin-left: 6%;
        float:left;
    }
    
    #preloader{
        background-size: 45%;
    }
    #logoff-loader{
        background-size: 45%;
    }
    .logoff-text{
        text-align: center;
        font-size: 1.6em;
    
    }
    
}
