#reset-form-cont{
    width: 30%;
    margin-left: 35%;
    padding: 140px 0 0 0;
    display: block;
}
#reset-form{
    width: 100%;
    display: block;
    float:left;
    margin-bottom: 10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    
}
#logo-container{
    width:25%;
    margin-left: 37.5%;
}

#logo-container img{
    width: 100%;
}
h2{
    text-align: center;
    color: #3c59b6;
}
#pincode-cont{
    width:100%;
}

input{
    margin: 0 0 0 8%;
    border: 1px solid #062e79;
    width: 13%;
    height: 2em;
    text-align: center;
    font-size: 2em;
}
 .hidden{
    opacity: zero;
    visibility: hidden;
 }
 #confirm-reset{
    background-color: #045e0b;
    border: none;
    width: 40%;
    height: 3.5em;
    margin: 3em 0 3em 30%;
    font-size: 1em;
    color: #ffffff;
    border-radius: 5px;
 }
 #resend{
    float: left;
    margin:1em 15% 0 2.5%;
    font-weight: 600;
    color: #045e0b;
    display: inline;
    font-size: 0.9em;
 }
 #get{
    float: left;
    font-weight: 600;
    color: #045e0b;
    font-size: 0.9em;
 }
 a{
    text-decoration: none;
    color: #0e48b4;
 }


@media screen and (max-width: 1000px){
    #reset-form-cont{
        width: 60%;
        margin-left: 20%;
    }
    

}
@media screen and (max-width: 600px){
    /*styles external  form container for phone view*/
    #reset-form-cont{
        width: 90%;
        margin-left: 5%;
    
    }

    input{
        margin: 0 0 0 7.5%;
        height: 1.3em;
    }
    
    #confirm-reset{
        height: 3em;
        margin: 2em 0 1em 30%;
      
     }

    #resend{
        font-size: 0.65em;
        margin:1em 6% 0 2.5%;
    }

    #get{
        font-size: 0.7em;
     }
}
    